.Weather form {
  margin-bottom: 20px;
}

.Weather .form-control {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
  caret-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.7);
}

.Weather .form-control::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.Weather .btn {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  transition: all 160ms ease-in-out;
}

.Weather .btn:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.9);
}

.Weather h1 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.5;
}

.Weather ul {
  font-weight: lighter;
  list-style-type: none;
  padding-left: 0;
}

.Weather canvas {
  margin: 10px;
}

.Weather .weather-data .temperature,
.Weather .weather-data .unit {
  font-size: 42px;
  font-weight: 300;
}

.Weather a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Weather a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .Weather .btn {
    margin-top: 20px;
  }
}
